<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SomativaPokemon"
        tools:targetApi="31">
        <activity
            android:name=".model.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.LoreActivity" />
        <activity android:name=".model.RegisterActivity" />
        <activity android:name=".controller.UserDB" />

        <activity android:name=".controller.Pokemon" />
        <activity android:name=".controller.PokemonType" />

        <activity android:name=".model.PokemonCollection" />
        <activity android:name=".model.PokemonApiResult" />
        <activity android:name=".model.PokemonService" />

        <activity android:name=".view.PokemonAdapter" />
        <activity android:name=".view.PokemonSearch" />
    </application>

</manifest>